body {
    background-color: #383F51;
    display: flex;
    justify-content: center;
    font-family: 'Bad Script', 'Serif';
    color: aliceblue;
    width: 2160px;
    height: 2880px;
    margin: 0;
}

div, img {
    border-radius: 7px;
}

.all {
    background-color: #383F51;
    width: 2160px;
    height: 2880px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-image: url('../images/bgs/main.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.main-upper, .main-lower {
    width: 2095.2px;
}

.main-upper {
    height: 1728px;
}

.main-lower {
    height: 1065.6px;
}

.main-upper, .main-lower {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.upper-container {
    width: 607.6px;
    height: 1728px;

}

#ee {
    width: 838.067px;
    background-image: url('../images/bgs/ee.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.main-upper div:first-child, .main-upper div:nth-child(3) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.staff {
    height: 848.433px;
    width: 607.6px;
}

.lower-left, .lower-right {
    height: 1065.6px;
    width: 1035.43px;
}

.lower-left, .lower-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.special {
    width: 1035.43px;
    height: 335.65px;
    background-image: url('../images/bgs/special.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.important {
    width: 1035.43px;
    height: 518.933px;
    background-image: url('../images/bgs/important.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#wind {
    background-image: url('../images/staffs/wind/staff-wind-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#light {
    background-image: url('../images/staffs/light/staff-light-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#fire {
    background-image: url('../images/staffs/fire/staff-fire-bg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

#ice {
    background-image: url('../images/staffs/ice/staff-ice-bg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.large {
    font-size: 20px;
}

.medium {
    font-size: 19.14px;
}

.small {
    font-size: 18px;
}

h1, p {
    text-align: center;
    margin: 0;
}

ol {
    margin: 0;
    padding: 0 0 0 20px;
}

#title-wind {
    color: #FFBA08;
    text-shadow: black 2px 2px;
}

#title-light {
    color: #9D4EDD;
    text-shadow: black 2px 2px;
}

#title-fire {
    color: #D00000;
}

#title-ice {
    color: #11B5E4;
}

#title-maxis {
    color: #2DC653;
    text-shadow: black 2px 2px;
}

#title-runes {
    color:#FFBA08;
    text-shadow: chocolate 2px 2px;
}

#title-fists {
    color: aliceblue;
    text-shadow: darkgray 2px 2px;
}

#title-gstrikes {
    color: #69dfff;
    text-shadow: black 2px 2px;
}

strong {
    color: #ffcf57;
}

.content {
    padding: 25px;
}

.maxis {
    display: flex;
    justify-content: space-evenly;
}

.no-margin {
    margin: 0;
}

.maxis-img {
    display: flex;
    justify-content: center;
}

/*Llegado a este punto me cansé*/

.daleMierda {
    height: 200px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.poronga {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 180px;
}

.margin-bottom {
    margin: 0 0 15px 0 ;
}

.zzz {
    height: 320px;
}

.between2 {
    display: flex;
    justify-content: space-evenly;
}

.between3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.margin-bottom2 {
    margin-bottom: 5px;
}

.daleMierda2 {
    height: 120px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.padding-top {
    padding-top: 20px;
}

.ñ {
    height: 36px;
}

.eñe {
    display: flex;
    align-items: center;
}

.efelante {
    width: 720px;
}

.keloke {
    margin-left: 20px;
}

.fists-container {
    width: 220px;
    display: flex;
    justify-content: center;
}

.between4 {
    display: flex;
    justify-content: space-between;
}

.ñññ {
    display: flex;
    align-items: center;
}

.padding-top2 {
    padding-top: 10px;
}

.relative {
    position: relative;
}

#dirty {
    position: absolute;
    right: 130px;
    bottom: 12px;
}

#dirty-txt {
    position: absolute;
    right: 130px;
    bottom: -22px;
}

#clean {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

#clean-txt {
    position: absolute;
    right: 20px;
    top: 310px;
}

#carne {
    color: #731414;
    text-shadow: #FFBA08 2px 2px 2px;
}

#padd-0 {
    padding: 10px;
}

.small-font {
    font-size: 10px;
}

#° {
    display: flex;
}

#q {
    text-align: center;
}

#negr0 {
    color:azure ;
}

#op {
    opacity: 0.8;
}